<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <script src="{% static 'bootstrap/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/popper.js' %}"></script>

    <link rel="stylesheet" href="{% static "authy/main.css" %}">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>